* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Museo Cyrl 900";
  src: url("../fonts/MuseoCyrl-900.woff2") format("woff2"),
    url("../fonts/MuseoCyrl-900.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Roboto", sans-serif;
  color: #202020;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* Header */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #f1f1f1;
  padding: 22px 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  max-width: 1140px;
  margin: auto;
}

.logo {
  color: inherit;
  font-weight: 700;
  text-transform: uppercase;
}

.nav-link {
  color: inherit;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  margin: 0 11px 0 11px;
}

.login {
  color: inherit;
  font-size: 14px;
  font-weight: 400;
}

.section-title {
  margin-top: 0;
  margin-bottom: 35px;
}

/* Main section */

.main {
  padding: 60px 0 70px 0;
  margin-top: 60px;
}

.main-container {
  display: flex;
  align-items: center;
  max-width: 1140px;
  margin: auto;
}

.image-block {
  position: relative;
  margin-right: 122px;
  max-width: 390px;
  min-width: 390px;
}

.sale-label {
  position: absolute;
  right: -25px;
  top: 45px;
  background-color: #c93535;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  padding: 12px 17px;
}

.author {
  display: block;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 22px;
}

.title {
  font-size: 54px;
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: 0;
  font-family: "Museo Cyrl 900", sans-serif;
}

.subtitle {
  display: block;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  margin-bottom: 48px;
}

.info {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 49px;
}

.info-text {
  flex-basis: 45%;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 16px;
}

.price {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}

.pricetag {
  font-weight: 400;
  font-size: 55px;
  margin-right: 64px;
}

.favorites {
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.button {
  font-size: 16px;
  font-weight: 700;
  padding: 22px 50px;
  border-radius: 5px;
  border: 2px solid transparent;
}

.button-primary {
  background-color: #f89c02;
  color: #fff;
  margin-right: 20px;
  cursor: pointer;
}

.button-outline {
  border: 2px solid #f89c02;
  color: #f89c02;
  text-decoration: none;
}

/* About section */

.about {
  background-color: #f1f1f1;
  padding: 99px 0;
}

.about-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1140px;
  margin: auto;
}

.about-book {
  max-width: 454px;
  flex-shrink: 0;
}

.about-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.about-author {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 552px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #f3f3f3;
  box-shadow: 0 1px 120px rgba(161, 161, 161, 0.08);
  padding: 68px 53px;
}

.author-avatar {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 21px;
}

.author-name {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 14px;
}

.author-link {
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.author-text {
  flex-basis: 100%;
  margin-top: 27px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

/* Readers section */

.readers {
  padding: 99px 0;
}

.readers-container {
  display: flex;
  flex-direction: column;
  max-width: 1140px;
  margin: auto;
}

.readers-images {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  flex-wrap: wrap;
  margin-top: 36px;
}

.reader-img {
  width: 167px;
  height: 167px;
  margin-bottom: 29px;
}

/* Footer */

.footer {
  background-color: #f1f1f1;
  padding: 60px 93px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1140px;
  justify-content: space-between;
  margin: auto;
}

.footer-list {
  padding: 0;
  list-style: none;
}

.footer-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 32px;
  margin-top: 0;
}

.footer-link {
  color: inherit;
  text-decoration: none;
}

.list-item {
  margin-bottom: 16px;
}

.requisites {
  margin-right: 167px;
}

.information {
  margin-right: 158px;
}

.to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 18px;
  border-radius: 4px;
  box-shadow: 0 1px 120px rgba(161, 161, 161, 0.08);
  border: 1px solid #eeeeee;
  background-color: #ffffff;
}

.arrow {
  width: 16px;
  height: 16px;
  transform: rotate(90deg);
}

@media (max-width: 1200px) {
  .header-container,
  .main-container,
  .about-container,
  .readers-container,
  .footer-container {
    max-width: 960px;
  }

  .image-block {
    max-width: 390px;
    min-width: 390px;
    margin-right: 30px;
  }

  .about-book {
    max-width: 367px;
  }

  .readers {
    padding-bottom: 94px;
  }

  .reader-img {
    width: 139px;
    height: 139px;
  }

  .information,
  .requisites {
    margin-right: 75px;
  }
}

@media (max-width: 992px) {
  .header-container,
  .main-container,
  .about-container,
  .readers-container,
  .footer-container {
    max-width: 760px;
  }

  .nav {
    display: none;
  }

  .image-block {
    max-width: 300px;
    min-width: 300px;
    margin-right: 30px;
  }

  .author {
    font-size: 22px;
    margin-bottom: 13px;
  }

  .title {
    font-size: 46px;
    margin-bottom: 10px;
  }

  .subtitle {
    font-size: 24px;
    margin-bottom: 28px;
  }

  .info {
    margin-bottom: 39px;
  }

  .info-text {
    font-size: 16px;
  }

  .age,
  .format {
    flex-grow: 1;
  }

  .price {
    margin-bottom: 39px;
  }

  .button {
    padding: 20px 40px;
  }

  .section-title {
    font-size: 24px;
    margin-bottom: 29px;
  }

  .about-container {
    flex-wrap: wrap;
  }

  .about-book {
    min-width: 100%;
    margin-bottom: 62px;
  }

  .reader-img:nth-child(3n + 1) {
    display: none;
  }

  .reader-img {
    width: 159px;
    height: 159px;
  }

  .requisites,
  .information {
    margin-right: 15px;
  }

  .footer-title {
    font-size: 16px;
  }

  .list-item {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .header-container,
  .main-container,
  .about-container,
  .readers-container,
  .footer-container {
    max-width: 560px;
  }

  .main {
    padding-top: 40px;
  }

  .main-container {
    flex-wrap: wrap;
  }

  .image-block {
    min-width: 100%;
    margin-bottom: 60px;
  }

  .main-image {
    width: 100%;
  }

  .reader-img:nth-child(-n + 3) {
    display: none;
  }

  .reader-img {
    width: 167px;
    height: 167px;
  }

  .requisites {
    margin-right: 40px;
    margin-bottom: 60px;
  }
  .information {
    margin-right: 0;
  }
}

@media (max-width: 576px) {
  .header-container,
  .main-container,
  .about-container,
  .readers-container,
  .footer-container {
    width: 95%;
  }

  .author {
    font-size: 18px;
    margin-bottom: 16px;
  }

  .title {
    font-size: 36px;
    margin-bottom: 19px;
  }

  .subtitle {
    font-size: 20px;
    margin-bottom: 30px;
  }

  .info {
    flex-wrap: wrap;
    margin-bottom: 17px;
  }

  .info-text {
    flex-basis: 100%;
    margin-bottom: 19px;
  }

  .button {
    display: inline-block;
    width: 100%;
    text-align: center;
  }

  .button-primary {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .about-book {
    margin-bottom: 70px;
  }

  .about-author {
    padding: 54px 44px;
  }

  .author-text {
    font-size: 14px;
  }

  .author-avatar {
    width: 64px;
    height: 64px;
  }

  .reader-img {
    width: 140px;
    height: 140px;
  }

  .requisites,
  .information,
  .contacts {
    flex-basis: 100%;
    margin-bottom: 36px;
    margin-right: 0;
  }

  .footer-title {
    font-size: 18px;
    margin-bottom: 32px;
  }

  .footer-link {
    font-size: 16px;
  }

  .footer {
    padding-left: 0;
  }
}

@media (min-width: 320px) and (max-width: 420px) {
  .header-container,
  .main-container,
  .about-container,
  .readers-container,
  .footer-container {
    width: 95%;
  }

  .about-book {
    width: 100%;
  }

  .price {
    flex-wrap: wrap;
  }

  .pricetag {
    margin-bottom: 20px;
  }

  .author-name {
    font-size: 14px;
  }

  .author-link {
    font-size: 14px;
  }

  .reader-img:nth-child(4n) {
    display: none;
  }

  .reader-img {
    width: 137px;
    height: 137px;
  }

  .footer {
    padding-left: 0;
  }
}
